<% layout("/layouts/boilerplate")%>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Create a New Listing</h3>
            <form method="POST" action="/listings" class="needs-validation" novalidate>
                <div class="mb-3">
                    <Label for="title" class="form-lable">Title</Label>
                    <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required>
                    <div class="valid-feedback"> Title Looks good!</div>
                </div> 
                <div class="mb-3">
                    <Label for="description" class="form-lable">Description</Label>
                    <textarea name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="mb-3">
                    <Label for="image" class="form-lable">Img Link</Label>
                    <input name="listing[image]" placeholder="enter image url" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <Label for="price" class="form-lable">Price</Label>
                    <input name="listing[price]" placeholder="1200" class="form-control" required>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>
               <div class="row">
                <div class="mb-3 col-md-4">
                    <Label for="country" class="form-lable">Country</Label>
                    <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                    <div class="invalid-feedback">Country name should br valid</div>
                </div>
                <div class="mb-3 col-md-8">
                    <Label for="location" class="form-lable">Location</Label>
                    <input name="listing[location]" placeholder="Pune,Maharashtra" type="text" class="form-control" required>
                    <div class="invalid-feedback">Location name should be valid</div>
                </div>
               </div><br><br>
                <button class="btn btn-dark add-btn">Add</button>
                <br><br>
            </form>
        </div>
    </div>